<div id="footer"><p><a href="https://memoc.pages.dev/">メモ帳代わりwebブラウザ便利サイト</a>　　<a href="https://memoc.pages.dev/inlink/" target="_blank">便利サイト無料で生活に役立つリンク集</a></p>
<p><a href="https://memoc.pages.dev/sitemap/" target="_blank">サイトマップ</a></p>
        <p><span class="copyright">
        Memochougawariwebburauzabennrisaito participates in the amazon associates program<br>
        Copyright(C) メモ帳代わりwebブラウザ便利サイト All rights reserved. </span></p>
        </div></div>
  </body>
</html>