<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>{{ title | default("サイトタイトル") }}</title>
    <meta name="description" content="{{ description | default("サイトの説明をここに入力") }}">
    <meta name="keywords" content="{{ keywords | default("キーワード1, キーワード2") }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="{{ adsense_account }}">
    <link rel="stylesheet" href="{{ stylesheet | default("/assets/css/style.css") }}" media="all">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5D799GZERM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5D799GZERM');
</script>
<body>