<nav>
  <a href="/" {% if title == "Home" %}class="active"{% endif %}>Home</a>
  <a href="/game/" {% if title == "game" %}class="active"{% endif %}>game</a>
  <a href="/about/" {% if title == "About" %}class="active"{% endif %}>About</a>
</nav>