<nav style="display:flex; justify-content:center; margin:0; padding:1rem 0;">
  <a href="/" {% if title == "Home" %}class="active"{% endif %}>Home</a>
  <a href="/tver/" {% if title == "tver" %}class="active"{% endif %}>Tver検索用</a>
  <a href="/game1/" {% if title == "game1" %}class="active"{% endif %}>無料ゲーム</a>
  <a href="/y10k2/" {% if title == "y10k2" %}class="active"{% endif %}>学習ゲーム</a>
  <a href="/illust/" {% if title == "illust" %}class="active"{% endif %}>イラスト無料</a>
</nav>