<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>{{ title | default("My Eleventy Site") }}</title>
    <link rel="stylesheet" href="/c.css">
  </head>
  <body>
    {% include "header.njk" %}

    <main>
      {{ content | safe }}
    </main>

    {% include "footer.njk" %}
        


  </body>
</html>